@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import "variables";
@import "general";
@import "atomic";

.header-bg {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}
.logo{
  // display: flex;
  // align-items: center;
  // position: relative;
  // margin-left: 40px;
  // width: 24px;
  // height: 24px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
}
// .logo::before{
//   position: absolute;
//   left: -40px;


//   background-image: url(../images/logo.svg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;

//   content: ''
// }