@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import "variables";
@import "general";
@import "atomic";

.header-bg {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
  height: 750px;
  @media screen and (max-width: 425px) {
    height: 853px;
  }
}
.logo{
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
}
