html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: map-get($colors, "gray-dark");
  background-color: map-get($colors, "black");
}

a {
  color: map-get($colors, "gray-dark");
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: map-get($breakpoints, "sm")) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: map-get($breakpoints, "sm")) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  max-width: 1240px;
  margin: 0 auto;
}

.header-absolute {
  padding-top: 25px;
  padding-left: 120px;
  padding-right: 110px;
  font-size: 11px;
  line-height: 13px;
  @media (max-width: map-get($breakpoints, "sm")) {
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 700;     
  }
}


.search-input {
  width: 250px;
  border-radius: 50px;
  border: none;
  font-size: 13.3px;
  background-color: map-get($colors, "dark");
  padding: 5px 0 5px 10px;
  
}

.input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid map-get($colors, "gray-dark");
  border-radius: 3px;
  background:rgba(0,0,0,0);
  &::placeholder {
    color: map-get($colors, "white");
  }
}
.btn {
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn-green {
  background-color: map-get($colors, "green");
  color: map-get($colors, "white");
  border: 1px solid map-get($colors, "green");
}

.flex-center {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: map-get($breakpoints, "sm")) {
  .sm-flex-left {
    align-items: start;
  }
}

.page-description {
  padding-top: 200px;
  padding-bottom: 200px;
  @media (max-width: map-get($breakpoints, "sm")) {
    padding-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



#page-description form {
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}
