$colors: (
  "white": #fff,
  "black": #08020d,
  "green": #34c176,
  "orange": #f89202,
  "red": #95390c,
  "purple": #5328a1,
  "gray": #e0e0e0,
  "gray-dark": #cacaca,
  "dark": #3c3b3d,
);

$breakpoints: (
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);



